.App {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	background-color: var(--backgroundColor);
	min-height: 100%;
	width: 100%;
}

.app-pages-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    width: 1280px;
	min-height: 100%;
}

.fadeIn {
    animation-name: FadeIn;
    animation-duration: 150ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.fadeOut {
    animation-name: FadeOut;
    animation-duration: 150ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

#fadeIn {
    animation-name: FadeIn;
    animation-duration: 150ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.fullpage-blur {
    position: fixed;
    z-index: 9;

    backdrop-filter: blur(3px) brightness(90%);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    animation-name: FadeIn;
    animation-duration: 100ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.page-container-centered {
    padding-top: 60pt;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

	width: 100%;
    min-height: 100%;
    
    animation-name: FadeIn;
    animation-duration: 250ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.page-container-centered-top {
    padding-top: 65pt;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

	width: 100%;
    
    animation-name: FadeIn;
    animation-duration: 250ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes FadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.vertical-center {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.vertical-top {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.horizontal-flex-left-spread {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.horizontal-flex-center-spread {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}


.horizontal-flex-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.divider {
    width: 100%;
    height: 1pt;
    border-radius: 2pt;
    background-color: var(--dividerColor);

    margin-top: 5pt;
    margin-bottom: 5pt;
}

.imageFill {
	width: 100%;
	height: 100%;
}

.invisible {
    color: transparent;
    background-color: transparent;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.slide-out-left {
    transform: translateX(-200%);
}

.slide-out-right {
    transform: translateX(200%);
}

.AppDark {
	background-color: var(--backgroundColorDark);
}

#darkText {
	color: var(--fontColorDark)
}

#dividerDark {
    background-color: var(--dividerColorDark);
}

.dark {
    background-color: var(--foregroundColorDark);
    border-color: var(--fieldBorderDark);
	color: var(--fontColorDark)
}

.darkField {
    background-color: var(--fieldBackgroundDark);
    border-color: var(--fieldBorderDark);
	color: var(--fontColorDark)
}

#dark {
    background-color: var(--foregroundColorDark);
    border-color: var(--fieldBorderDark);
	color: var(--fontColorDark)
}

#darkField {
    background-color: var(--fieldBackgroundDark);
    border-color: var(--fieldBorderDark);
	color: var(--fontColorDark)
}

@media only screen and (max-width: 1300px) {
    .app-pages-container {
        width: 90vw;
    }
}