.button {
    position: relative;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    
    padding: 6pt;
    margin: 5pt;

    font-size: 1.2rem;

    cursor: pointer;
}

.button:focus {
    outline: 1px dashed var(--selectColor);
}

.buttonBackground {
    position: absolute;
    background-color: var(--accentColor);

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
    border-radius: 10pt;
    z-index: 0;
}

.button:hover .buttonBackground {
    filter: brightness(90%);
}

.buttonText {
    color: var(--lightFontColor);
    z-index: 1;
}

.buttonNegative {
    background-color: var(--negativeColor);
}

.buttonPositive {
    background-color: var(--positiveColor);
}

.buttonDisabled {
    background-color: var(--disabledColor);
}

.button:hover .buttonDisabled {
    filter: brightness(100%);
}

/* INPUT BUTTON */
.inputButton {
    min-width: 100pt;
}

/* FORM BUTTON */
.formButton {
    flex: 1;
    min-width: 60pt;
}

/* FITTED BUTTON */

.fittedButton {
    
    min-width: 60pt;
    max-width: 100pt;
    padding: 2pt;

    font-size: 1rem;
}