.dropDownMenuField {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin: 5pt;
    margin-top: 12pt;
    margin-bottom: 12pt;
}

.dropDownMenuField h3 {
    position: absolute;
    transform: translateY(-100%);
    top: 0;
    margin-left: 2pt;
    margin-top: 0;
}

.dropDownMenuFieldBackground {
    border: 1pt solid var(--fieldBorder);
	border-radius: 10pt;
	background-color: var(--fieldBackground);
    padding: 6pt;

    width: 300pt;
    height: 30pt;

    z-index: 1;
}

.selectionBody {
    cursor: pointer;
}

.selectionBody:hover {
    filter: brightness(95%);
}

.selectionBody:hover .dropDownIcon {
    filter: brightness(80%);
}

.dropDownIcon {
    position: absolute;
    z-index: 2;

    right: 10pt;
    top: 2pt;

    transform: rotate(180deg);
    font-size: 1.5rem;
    font-weight: 600;

    color: var(--fieldBorder);
}

.dropDownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 0;

    overflow-y: scroll;

    border: 1pt solid transparent;
	border-radius: 5pt;
	background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 9;

    border-color: var(--fieldBorder);
	background-color: var(--fieldBackground);

    scrollbar-width: none;

    opacity: 0;

    transition: 200ms;
}

.selectionText {
    position: absolute;
    font-size: 1.2rem;
    z-index: 2;

    left: 6pt;
    top: 50%;
    transform: translateY(-50%);
}

.selectionElement {
    padding: 5pt;
    width: 100%;
    background-color: var(--fieldBackground);
    cursor: pointer;
}

.dropDownMenu .selectionElement:hover {
    filter: brightness(90%);
}

.dropDownMenu #darkField:hover {
    filter: brightness(150%);
}

.dropDownMenuOpen {
    max-height: 100pt;
    opacity: 1;
}


@media only screen and (max-width: 900px) {
    .dropDownMenuFieldBackground {
        width: 230pt;
    }
}