.form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--foregroundColor);
    padding: 50pt;
    padding-top: 30pt;
    border-radius: 10pt;
    border: 1pt solid var(--fieldBorder);
}

.form h1 {
    padding: 0;
    margin-bottom: 20pt;
}

.closeButton {
    position: absolute;
    right: 5pt;
    top: 5pt;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 20pt;
    height: 20pt;

    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition: 300ms;
    z-index: 1;
}

.closeButton:hover {
    filter: brightness(85%);
}

.closeButton div {
    position: absolute;
    width: 90%;
    height: 20%;

    background-color: var(--fieldBorder);
    border-radius: 50pt;
}

.closeButton div:nth-child(1) {
    transform: rotate(45deg);
}

.closeButton div:nth-child(2) {
    transform: rotate(-45deg);
}

#formDark {
    background-color: var(--foregroundColorDark);
    border-color: var(--fieldBorderDark);
    color: var(--fontColorDark);
    border-color: var(--fieldBorderDark);
}


@media only screen and (max-width: 900px) {
    .form {
        padding: 10pt;
        margin-bottom: 60pt;
    }
}